<div class="text-center">
  <%= form_for [@post, Comment.new] do |f| %>
    <%= f.text_area :body, class: "input p-2 w-100", placeholder: "Comment", rows: '4' %>
    <%= f.submit 'Save', class: 'btn btn-dark mb-2' %>
  <% end %>
</div>
