<div class="d-flex justify-content-between">
  <div class="header-btn" data-bs-toggle="tooltip" title="Back to posts">
    <%= link_to '', posts_path, class: "btn btn-dark fa fa-arrow-left" %>
  </div>
  <h2>Editing Your Comment</h2>
</div>

<p id="notice"><%= notice %></p>

<%= render 'comments/form', post: @post, comment: @comment %>
