<html lang="en">
<div style="padding: 30px; margin: 30px">
<h1><%= "#{panda.name} cant stand its mouth stinking..." %></h1>
<h3>Would you like to brush its teeth?</h3>
<img src="https://u.makeup.com.ua/t/th/thqqzo8rbko0.jpg" alt="lacalut for kids" width="400" height="100">
  <div><br/></div>
<form action="/brush" method="get">
  <button type="submit">Brush the Teeth 💪</button>
</form>
<form action="/death" method="get">
  <button type="submit">Ignore Panda</button>
</form>
</div>
</body>
</html>