<html lang="en">
<body>
<div style="padding: 30px; margin: 30px">
<h1><%= "#{panda.name} joins the majority..." %></h1>
<img src="https://www.pngitem.com/pimgs/m/515-5151513_panda-webarebears-osopanda-oso-dead-cute-blackandwhite-dead.png" alt="dead panda" width="350" height="200">
  <div><br/></div>
  <form action="/" method="get">
  <button type="submit">Try again</button>
</form>
</body>
</html>
