<html lang="en">
<body>
<div style="padding: 30px; margin: 30px">
  <h1 style="font-size: 25px"><%= "#{panda.name} was born." %></h1>
<form action= "/info" method="get">
  <button type="submit">Start Game!</button>
</form>
</div>
</body>
</html>
