<html lang="en">
<body>
<div style="padding: 30px; margin: 30px">
  <h1><%= "You won!!! Congrats..." %></h1>
  <img src="https://i.gifer.com/origin/22/22f37c8f7601e0f4847e99442433c5c4_w200.gif" alt="dancing panda" width="500" height="500">
  <div><br/></div>
  <form action="/" method="get">
    <button type="submit">Play again</button>
  </form>
</div>
</body>
</html>
