<html lang="en">
<div style="padding: 30px; margin: 30px">
<body><h1><%= "#{panda.name} doesnt feel like being combed out..." %></h1>
<h3>Would you still like to comb it out?</h3>
<img src="https://cdn.mos.cms.futurecdn.net/aPrLiefJGm6B39uNQ4Nr77.jpg" alt="chewbacca" width="300" height="150">
<div><br/></div>
<form action="/comb" method="get">
  <button type="submit">Comb anyway</button>
</form>
<form action="/hug" method="get">
  <button type="submit">Just Hug</button>
</form>
</div>
</body>
</html>
