@import 'bootstrap-custom';


.page-header {
  display: flex;
  justify-content: space-between;
}

.new-post-page-header {
  display: flex;
  justify-content: space-around;
}

.header-btn {
  align-self: center;
}

.header-btns {
  align-self: center;
}

.btn {
  font-weight: bold;
}
.form {
justify-content: center;
  display: flex;
  margin-top: 10px;
}

table {
  table-layout: auto;
}

.table-bordered {

  th,
  td {
    border: 1px solid $gray-300;
  }
}

.outer {
  width: 131px;
}

.inner {
  display: inline-block;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.post-container {
  display: flex;
  justify-content: flex-start;
}

p {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 30px;
}

#notice {
  margin: 16px 0;
  font-weight: bold;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.card {
  width: 560px;
}

.form-label {
  font-weight: bold;
  padding-bottom: 5px;
}

.form-select {
  display: inline-block;
  width: auto;
}

.form-control {
  display: inline-block;
  width: auto;
}

.mb-3 {
 text-align: center;
}

.actions {
  text-align: center;
}

.comments-container {
  width: 600px;
}

.comments-select {
  display: flex;
  justify-content: space-between;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.h4 {
  margin: 0 !important;
}

.card {
  width: 600px;
  margin-bottom: 20px;
}

.new-post-submit-btn {
  text-align: center;
}

.views-count {
  text-align: center;
}