<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h5> Please log in <br>or create a profile to continue.</h5> <%= link_to "Sign Up", signup_path, class: "btn btn-dark" %>
        <%= link_to "Log In", login_path, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
</div>

<button id="exampleModalTrigger" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>

<script>
    document.getElementById("exampleModalTrigger").click();
</script>
