<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log in required!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please log in to continue.</p>
      </div>
      <div class="modal-footer">
        <%= link_to "Sign Up", signup_path, class: "btn btn-success" %>
        <%= link_to "Log In", login_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>

<button id="exampleModalTrigger" type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<script>
document.getElementById("exampleModalTrigger").click();
</script>
