<div class="d-md-table">
  <h2>Log In</h2>

  <%= form_tag sessions_path do %>
    <div class="log-in-field">
      <%== text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
    </div>
    <div class="log-in-field">
      <%== password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
    </div>
    <div class="log-in-btn">
      <%= submit_tag "Log In", class: "btn btn-dark" %></div>
  <% end %>
</div>
</div>
