<div class="container">
  <div class="page-header">
    <div class="header-btn" data-bs-toggle="tooltip" title="Back to posts">
      <%= link_to '', posts_path, class: "btn btn-dark fa fa-arrow-left" %>
    </div>
    <h1>Editing <%= @post.title %> Post</h1>
    <div class="header-btn" data-bs-toggle="tooltip" title="Show a post">
      <%= link_to '', @post, class: "btn btn-dark fa fa-eye" %>
    </div>
  </div>

  <%= render 'form', post: @post %>
</div>