<html lang="en">
<body>
<div class="container" style="align-items: center; margin-top: 50px; max-width: 600px">
  <h1 style="font-size: 1.5rem; text-align: center; margin:0 auto; display:block" class="alert alert-dark"><%= "You won!!! Congrats..." %></h1>
  <img style="width:400px; margin:0 auto; display:block" src="https://i.gifer.com/origin/22/22f37c8f7601e0f4847e99442433c5c4_w200.gif" alt="dancing panda">
  <form action="/" method="get">
    <button style="margin:0 auto; display:block" class="btn btn-dark" type="submit">Play again</button>
  </form>
</div>
</body>
</html>
